body * {

  margin: 0px;
  padding: 0px;

  text-align: center;
  font-family: Arial, Helvetica, sans-serif;

  box-sizing: border-box;

}

canvas {

  top: 0px;
  left: 0px;

  width: 100%;
  height: 100%;

  z-index: 1;
  position: fixed;

  pointer-events: none;

}

#title {

  margin: auto;
  padding: 50px;

}

#start {

  top: 40%;
  left: 50%;

  width: 200px;
  padding: 25px;

  color: white;
  background-color: green;

  border-radius: 10px;
  border: 2px solid black;

  transform: translate(-50%, -50%);
  position: absolute;

  cursor: pointer;

}

#start:hover {

  color: black;
  background-color: lightgreen;

}

#keyboard {

  top: 45%;
  left: 50%;

  padding: 20px;
  max-width: 1085px;
  border-radius: 10px;

  display: none;
  position: absolute;
  transform: translate(-50%, -50%);

  background-color: rgb(197, 197, 197);

  grid-template-columns: repeat(30, 30px);
  grid-template-rows: repeat(5, 60px);
  grid-gap: 5px;

}

#question {

  top: 80%;
  left: 50%;

  width: 100%;

  font-size: 32px;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  transform: translate(-50%, -50%);

  #example {

    margin: 25px;
    display: none;

    .key {

      height: 75px;
      min-width: 75px;

      padding: 20px;
      font-size: 15px;

      white-space: pre;

    }

  }

}

.key {

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 5px;
  border: 2px solid black;

  background-color: rgb(243, 243, 243);

  grid-column: span 2;

  font-size: 16px;

}

.key:hover {

  background-color: lightgray;
  color: black;

  cursor: pointer;

}

.key.success {

  background-color: green;
  color: white;

}

.key.fail {

  background-color: red;
  color: white;

}

.backspace {

  grid-column: span 4;

}

.tab {

  grid-column: span 3;

}

.backslash {

  grid-column: span 3;

}

.capslock {

  grid-column: span 4;

}

.enter {

  grid-column: span 4;

}

.shift {

  grid-column: span 5;

}

.meta {

  grid-column: span 3;

}

.space {

  grid-column: span 10;

}

#arrows {

  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  grid-column: span 6;

  .arrow-cell {

    width: 33%;
    margin: 2px;

    display: inline-block;

    .arrow {

      display: flex;
      align-items: center;
      justify-content: center;

      font-size: 14px;

    }

    .left-arrow, .right-arrow {

      height: 60px;

    }

    .up-arrow, .down-arrow {

      height: 27.5px;

    }

    .up-arrow {

      margin-bottom: 5px;

    }

    .down-arrow {

      margin-top: 5px;

    }

  }

}